.DS_Store
__pycache__/
*.pyc

*.pdf
*.odt
data/local/
data/working/bibliography/local_sources/frasch_extracted_text.txt
data/working/bibliography/external_bibtex/*.bib
*.zip

data/extracted/structured_corpus_current/inscriptions.jsonl
data/extracted/structured_corpus_current/lines.jsonl
